body { 
	text-align: center; 
	background-image: url(images/drumKit.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} 

h1 { 
	font-size: 5rem; 
	user-select: none;
	font-family:Arial, Helvetica, sans-serif;
	color: #2fb119; 
	text-shadow: 3px 3px #130f0f; 
	background-color: rgba(128, 125, 125, 0.246);
} 


#buttons{ 
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 60px;
	height: 60px;
	cursor: pointer;
	text-transform: uppercase; 
	font-family:Verdana,Tahoma, sans-serif;
	border: 5px solid #2fb119; 
	font-size: 20px;
	font-weight: bold; 
	color: #000000;  
	border-radius: 15px;   
	background-color: white;
} 

#buttons:active {
	background-color: rgba(240, 248, 255, 0.5);
	border: 5px solid rgba(48, 177, 25, 0.5);
	opacity: 0.5; 
} 

.snare{
	position: absolute;
	left:703px;
	bottom: 260px;
}

.all{
	max-width: 100%;
}
.tom{
	position: absolute;
	left:775px;
	bottom: 530px;
}

.hihat{
	position: absolute;
	left: 380px;
	bottom: 450px;
}

.kick{
	position: absolute;
	left: 910px;
	bottom: 320px;
}

.openHi{
	position: absolute;
	left: 320px;
	bottom: 520px;
}


.ride{
	position: absolute;
	right: 570px;
	bottom: 310px;
}

.crash{
	position:absolute;
	right: 730px;
	bottom: 650px;
}
